.row {
    margin-right: -10px;
    margin-left: -10px;
}
.col-xs-1, .col-sm-1, .col-md-1, .col-lg-1, .col-xs-2, .col-sm-2, .col-md-2, .col-lg-2, .col-xs-3, .col-sm-3, .col-md-3, .col-lg-3, .col-xs-4, .col-sm-4, .col-md-4, .col-lg-4, .col-xs-5, .col-sm-5, .col-md-5, .col-lg-5, .col-xs-6, .col-sm-6, .col-md-6, .col-lg-6, .col-xs-7, .col-sm-7, .col-md-7, .col-lg-7, .col-xs-8, .col-sm-8, .col-md-8, .col-lg-8, .col-xs-9, .col-sm-9, .col-md-9, .col-lg-9, .col-xs-10, .col-sm-10, .col-md-10, .col-lg-10, .col-xs-11, .col-sm-11, .col-md-11, .col-lg-11, .col-xs-12, .col-sm-12, .col-md-12, .col-lg-12 {
    padding-right: 10px;
    padding-left: 10px;
}

::-webkit-scrollbar {
    width: 5px;
    height: 10px;
}
::-webkit-scrollbar-track {
    background: #fff;
}
::-webkit-scrollbar-thumb {
    background: #ccc;
}
::-webkit-scrollbar-thumb:hover {
    background: #555;
}

body::-webkit-scrollbar-track {
    background: #e5e9ec;
}
body::-webkit-scrollbar-track {
    background: #e5e9ec;
}

.mb-0{
    margin-bottom: 0px !important;
}
.mb-5{
    margin-bottom: 5px !important;
}
.mb-10{
    margin-bottom: 10px !important;
}
.mb-15{
    margin-bottom: 15px !important;
}
.mb-20{
    margin-bottom: 20px !important;
}
.mb-25{
    margin-bottom: 25px !important;
}
.mb-30{
    margin-bottom: 30px !important;
}
.mb-40{
    margin-bottom: 40px !important;
}
.mb-50{
    margin-bottom: 50px !important;
}

.mt-0{
    margin-top: 0px !important;
}
.mt-5{
    margin-top: 5px !important;
}
.mt-10{
    margin-top: 10px !important;
}
.mt-15{
    margin-top: 15px !important;
}
.mt-20{
    margin-top: 20px !important;
}
.mt-25{
    margin-top: 25px !important;
}
.mt-30{
    margin-top: 30px !important;
}

.mr-0{
    margin-right: 0px !important;
}
.mr-5{
    margin-right: 5px !important;
}
.mr-10{
    margin-right: 10px !important;
}
.mr-20{
    margin-right: 20px !important;
}

.ml-0{
    margin-left: 0px !important;
}
.ml-5{
    margin-left: 5px !important;
}
.ml-10{
    margin-left: 10px !important;
}
.ml-15{
    margin-left: 15px !important;
}
.ml-20{
    margin-left: 20px !important;
}

.pd-0{
    padding: 0px !important;
}
.pd-5{
    padding: 5px !important;
}
.pd-10{
    padding: 10px !important;
}
.pd-15{
    padding: 15px !important;
}
.pd-20{
    padding: 20px !important;
}
.pd-25{
    padding: 25px !important;
}

.pd-top-0{
    padding-top: 0px !important;
}
.pd-top-5{
    padding-top: 5px !important;
}
.pd-top-10{
    padding-top: 10px !important;
}
.pd-top-15{
    padding-top: 15px !important;
}
.pd-top-20{
    padding-top: 20px !important;
}
.pd-top-25{
    padding-top: 25px !important;
}

.pd-bottom-0{
    padding-bottom: 0px !important;
}
.pd-bottom-5{
    padding-bottom: 5px !important;
}
.pd-bottom-10{
    padding-bottom: 10px !important;
}
.pd-bottom-15{
    padding-bottom: 15px !important;
}
.pd-bottom-20{
    padding-bottom: 20px !important;
}
.pd-bottom-25{
    padding-bottom: 25px !important;
}

.w-0 {
    width: 0 !important;
}
.w-1 {
    width: 0.25rem !important;
}
.w-2 {
    width: 0.5rem !important;
}
.w-3 {
    width: 1rem !important;
}
.w-4 {
    width: 1.5rem !important;
}
.w-5 {
    width: 2rem !important;
}
.w-6 {
    width: 3rem !important;
}
.w-7 {
    width: 5rem !important;
}
.w-8 {
    width: 8rem !important;
}
.w-25 {
    width: 25% !important;
}
.w-33 {
    width: 33.33333% !important;
}
.w-50 {
    width: 50% !important;
}
.w-66 {
    width: 66.66666% !important;
}
.w-75 {
    width: 75% !important;
}
.w-100 {
    width: 100% !important;
}
.w-auto {
    width: auto !important;
}

.h-50{
    height: 50px !important;
}
.h-75{
    height: 75px !important;
}
.h-100{
    height: 100px !important;
}
.h-125{
    height: 125px !important;
}
.h-150{
    height: 150px !important;
}
.h-175{
    height: 175px !important;
}
.h-200{
    height: 200px !important;
}
.h-225{
    height: 225px !important;
}
.h-250{
    height: 250px !important;
}
.h-275{
    height: 275px !important;
}
.h-300{
    height: 300px !important;
}

/*Font Size*/
.font-size-6{
    font-size: 6px !important;
}
.font-size-8{
    font-size: 8px !important;
}
.font-size-9{
    font-size: 9px !important;
}
.font-size-10{
    font-size: 10px !important;
}
.font-size-11{
    font-size: 11px !important;
}
.font-size-12{
    font-size: 12px !important;
}
.font-size-13{
    font-size: 13px !important;
}
.font-size-14{
    font-size: 14px !important;
}
.font-size-16{
    font-size: 16px !important;
}
.font-size-18{
    font-size: 18px !important;
}
.font-size-24{
    font-size: 24px !important;
}
.font-size-32{
    font-size: 32px !important;
}
.font-size-48{
    font-size: 48px !important;
}

.text-right {
    text-align: right !important;
}
.text-left {
    text-align: left !important;
}
.pull-left {
    float: left !important;
}
.pull-right {
    float: right !important;
}
.hidden{
    display: none !important;
}

@media (min-width: 980px) {
    .page-sidebar {
        /*margin-top: 80px;*/
    }
}

.logo {
    margin: 5px 5px;
}
.page-sidebar.mini {
    background-color: #1b1e24 !important;
}
.page-sidebar .page-sidebar-wrapper > ul > li {
    line-height: 14px !important;
}
.page-sidebar .page-sidebar-wrapper > ul > li > a {
    padding: 10px 15px 10px 15px;
    font-size: 14px;
}
.page-sidebar .page-sidebar-wrapper > ul > li > ul.sub-menu{
    padding-top: 0px !important;
    padding-bottom: 0px !important;
}
.page-sidebar .page-sidebar-wrapper > ul > li > ul.sub-menu > li.active > a,
.page-sidebar .page-sidebar-wrapper > ul > li.open > a {
    color: #0b93d5 !important;
}
.page-sidebar ul > li > a > .arrow:before,
.page-sidebar .page-sidebar-wrapper > ul > li > a > .arrow.open:before {
    margin-top: 4px;
}
.page-sidebar .page-sidebar-wrapper > ul > li > ul.sub-menu > li > a:hover {
    background: #ccc !important;
}
.page-content .content{
    padding-top: 70px !important;
    padding-bottom: 40px !important;
}
.page-title i {
    top: auto;
    float: none;
}


.padding-5 {
    padding: 5px !important;
}
.padding-10 {
    padding: 10px !important;
}
.padding-15 {
    padding: 15px !important;
}
.padding-20 {
    padding: 20px !important;
}
.padding-25 {
    padding: 25px !important;
}
.padding-30 {
    padding: 30px !important;
}

.grid-footer{
    padding: 10px 15px;
    background-color: #f5f5f5;
    border-top: 1px solid #ddd;
    border-bottom-right-radius: 3px;
    border-bottom-left-radius: 3px;
}

.container-list-master .item-master,
.container-list-master .item-workflow{
    border-radius: 0px;
}
.container-list-master .list-group-xs,
.container-list-workflow .list-group-xs{
    border-radius: 0px;
    margin-bottom: 0px;
}
.container-list-master .list-group-xs .list-group-item,
.container-list-workflow .list-group-xs .list-group-item{
    border-radius: 0px !important;
    padding: 0px;
    border-left: 0;
    border-right: 0;
    padding: 5px 10px;
    display: block;
}

.container-list-master .list-group-xs .list-group-item a,
.container-list-workflow .list-group-xs .list-group-item a{
}
.container-list-master .list-group-xs .list-group-item a:hover,
.container-list-workflow .list-group-xs .list-group-item a:hover{
    /*font-weight: bolder;*/
}
.container-list-master .list-group-xs .list-group-item.active,
.container-list-workflow .list-group-xs .list-group-item.active
{
    background-image: none;
}
.container-list-master .list-group-xs .list-group-item.active a,
.container-list-workflow .list-group-xs .list-group-item.active a
{
    color: #fff;
}

.modal-90 {
    width: 90%;
    margin-left: auto;
    margin-right: auto;
}
.modal-80 {
    width: 80%;
}
.modal-70 {
    width: 70%;
}
.modal-title {
    text-align: left;
}
.modal-body{
    background-color: #fff;
    padding: 25px;
}
.modal-footer {
    border-top: 1px solid #e5e5e5;
}

.panel-group .panel .panel-heading{
    padding: 5px 10px;
}
.panel-group .panel-heading + .panel-collapse .panel-body{
    border: 1px solid #e1dade;
}
.panel-footer{
    padding: 15px 20px;
}
.panel-dragdrop .panel-group .panel-heading .panel-title > a::after,
#list-master-field.panel-group .panel-heading .panel-title > a::after {
    display: none;
}

/*List Panel Drag Drop*/
.panel-dragdrop .hpanel{
    margin-bottom: 3px;
}
.panel-dragdrop .hpanel .panel-heading{
    background-color: #e8f5fa;
    border: 1px solid #e6ebed;
    padding: 5px 10px;
    cursor: move;
}
.panel-dragdrop .hpanel .panel-body{
    background-color: #f7fdff;
    border: 1px solid #e6ebed;
}

.panel-dragdrop #list-source .hpanel .panel-heading{
    background-color: #eaeaea !important;
}
.panel-dragdrop #list-target .hpanel .panel-heading{
    background-color: #e8f5fa !important;
}
.panel-dragdrop #list-source .hpanel .panel-heading .panel-tools{
    display: none;
}
.panel-dragdrop #list-source .panel-head-targets,
.panel-dragdrop #list-source .panel-body-targets{
    display: none;
}
.panel-dragdrop #list-source .panel-body{
    display: none !important;
}
.panel-dragdrop #list-target .panel-head-sources,
.panel-dragdrop #list-target .panel-body-sources{
    display: none;
}

.link-dragdrop{
    min-height: 100px;
}




/*Select2*/
.select2-container--default .select2-selection--single{
    border: 1px solid #eaeaea;
    border-radius: 3px;
}
.select2-container .select2-selection--single{
    height: 30px;
}
.select2-container--default .select2-selection--multiple{
    border-radius: 2px !important;
    border: 1px solid #eaeaea;
    min-height: 30px;
    padding: 0px !important;
}
.select2-container--default .select2-results__option[aria-disabled=true],
.select2-container--default .select2-results__option[aria-disabled=disabled] {
    color: #ddd !important;
    display: none;
}
.select2-container--default.select2-container--focus .select2-selection--multiple {
    border: solid #eaeaea 1px;
}
.select2-container--default .select2-selection--multiple .select2-selection__choice{
    background-color: #0b58a2;
    border: 1px solid #0d3349;
    color: #fff;
    padding-bottom: 3px;
}
.select2-container--default .select2-selection--multiple .select2-selection__choice__remove{
    color: #fff;
    border: 0px;
}
.select2-container .select2-search--inline .select2-search__field{
    padding: 0px 10px !important;
    margin: 0px;
    font-size: 12px !important;
    min-height: 30px;
}
.select2-search {
    padding: 0px !important;
}
.select2-container--default .select2-results__group{
    background-color: #eee;
    color: #bbb;
}

span[aria-labelledby='select2-input_select_tree-container']{
    height: 34px !important;
}
span[aria-labelledby='select2-input_select_tree-container'] #select2-input_select_tree-container{
    line-height: 32px !important;
}

.select2-dropdown {
    border: 1px solid #ccc;
    box-shadow: 1px 1px 1px #ccc;
}
.select2-search--dropdown {
    display: block;
    padding: 4px;
    border-bottom: 1px solid #aaa;
    box-shadow: 1px 1px 1px #ccc;
}
.select2-results__option {
    padding: 2px 5px;
    border-bottom: 1px dotted #ccc;
    font-size: 11px;
}
li.select2-results__option:empty {
    display: none;
}
.has-error .select2-container--default .select2-selection--single,
.has-error .note-editor {
    border-color: #d62c1a !important;
}

.table-datatable-detail tbody td{
    padding: 4px 12px !important;
}


.daterangepicker .calendar-table th, .daterangepicker .calendar-table td {
    line-height: 8px !important;
}
.bootstrap-datetimepicker-widget {
    z-index: 9999999;
    padding: 10px;
}
.bootstrap-datetimepicker-widget table td{
    width: 24px;
    height: 24px;
    line-height: 24px;
    padding: 0px;
}
.bootstrap-datetimepicker-widget table td span {
    width: 24px;
    height: 24px;
    line-height: 24px;
    margin: 2px 1.5px;
    cursor: pointer;
    border-radius: 4px;
}
.bootstrap-datetimepicker-widget a[data-action] {
    padding: 0px;
}

.form-notes{
    color: #0b93d5 !important;
    margin-top: 5px;
}

.form-group label{
    font-weight: bold !important;
    font-size: 12px;
}

.list-barang{
    padding: 10px;
    background-color: #efefef;
    margin-bottom: 5px;
}
.img-barang-list{
    border: 1px solid #ccc;
    border-radius: 5px;
    padding: 5px;
    cursor: pointer;
}

.timeline {
    list-style: none;
    padding: 0px;
    position: relative;
    max-height: 400px;
    overflow-y: auto;
}
.timeline:before {
    top: 0;
    bottom: 0;
    position: absolute;
    content: " ";
    width: 3px;
    background-color: #eeeeee;
    left: 20px;
    margin-left: -1.5px;
}
.timeline > li {
    margin-bottom: 10px;
    position: relative;
}
.timeline > li:before,
.timeline > li:after {
    content: " ";
    display: table;
}
.timeline > li:after {
    clear: both;
}
.timeline > li:before,
.timeline > li:after {
    content: " ";
    display: table;
}
.timeline > li:after {
    clear: both;
}
.timeline > li > .timeline-panel {
    width: 80%;
    float: left;
    border: 1px solid #d4d4d4;
    border-radius: 2px;
    padding: 10px;
    position: relative;
    -webkit-box-shadow: 0 1px 6px rgba(0, 0, 0, 0.175);
    box-shadow: 0 1px 6px rgba(0, 0, 0, 0.175);
}
.timeline > li > .timeline-panel:before {
    position: absolute;
    top: 26px;
    right: -15px;
    display: inline-block;
    border-top: 15px solid transparent;
    border-left: 15px solid #ccc;
    border-right: 0 solid #ccc;
    border-bottom: 15px solid transparent;
    content: " ";
}
.timeline > li > .timeline-panel:after {
    position: absolute;
    top: 27px;
    right: -14px;
    display: inline-block;
    border-top: 14px solid transparent;
    border-left: 14px solid #fff;
    border-right: 0 solid #fff;
    border-bottom: 14px solid transparent;
    content: " ";
}
.timeline > li > .timeline-badge {
    color: #fff;
    width: 30px;
    height: 30px;
    line-height: 30px;
    font-size: 1.2em;
    text-align: center;
    position: absolute;
    top: 16px;
    margin-left: -15px;
    background-color: #999999;
    z-index: 100;
    left: 20px;
    border-top-right-radius: 50%;
    border-top-left-radius: 50%;
    border-bottom-right-radius: 50%;
    border-bottom-left-radius: 50%;
}
.timeline > li.timeline-inverted > .timeline-panel {
    float: left;
    left: 60px;
}
.timeline > li.timeline-inverted > .timeline-panel:before {
    border-left-width: 0;
    border-right-width: 15px;
    left: -15px;
    right: auto;
}
.timeline > li.timeline-inverted > .timeline-panel:after {
    border-left-width: 0;
    border-right-width: 14px;
    left: -14px;
    right: auto;
}
.timeline-badge.primary {
    background-color: #2e6da4 !important;
}
.timeline-badge.success {
    background-color: #3f903f !important;
}
.timeline-badge.warning {
    background-color: #f0ad4e !important;
}
.timeline-badge.danger {
    background-color: #d9534f !important;
}
.timeline-badge.info {
    background-color: #5bc0de !important;
}
.timeline-title {
    margin-top: 0;
    color: inherit;
}
.timeline-body > p,
.timeline-body > ul {
    margin-bottom: 0;
}
.timeline-body > p + p {
    margin-top: 5px;
}
@media (max-width: 767px) {
    ul.timeline:before {
        left: 40px;
    }

    ul.timeline > li > .timeline-panel {
        width: calc(100% - 90px);
        width: -moz-calc(100% - 90px);
        width: -webkit-calc(100% - 90px);
    }

    ul.timeline > li > .timeline-badge {
        left: 15px;
        margin-left: 0;
        top: 16px;
    }

    ul.timeline > li > .timeline-panel {
        float: right;
    }

    ul.timeline > li > .timeline-panel:before {
        border-left-width: 0;
        border-right-width: 15px;
        left: -15px;
        right: auto;
    }

    ul.timeline > li > .timeline-panel:after {
        border-left-width: 0;
        border-right-width: 14px;
        left: -14px;
        right: auto;
    }
}


.timeline > li > .timeline-panel:hover {
    border: 1px solid #eee;
    box-shadow: 0 1px 6px rgba(0, 0, 0, 0.5);
}
.cursor-pointer{
    cursor: pointer;
}

/* Table Custom Scroll Fix Header & Footer */
.table-custom-scroll {
    position: relative;
    width: 100%;
    z-index: 1;
    margin: auto;
    overflow-y: auto;
    max-height: 50vh;
    border-top: 1px solid #eee;
    border-bottom: 1px solid #eee;
}
.table-custom-scroll table {
    width: 100%;
    margin: auto;
    border-collapse: separate;
    border-spacing: 0;
    border-top: 1px solid #d9e8ff;
    border-left: 1px solid #eee;
}
.table-custom-scroll th,
.table-custom-scroll td {
    padding: 3px 10px;
    border-right: 1px solid #eee;
    border-bottom: 1px solid #eee;
    vertical-align: top;
    font-weight: normal;
}
.table-custom-scroll thead th {
    background-color: #edf4ff;
    font-weight: normal;
    color: #333;
    position: -webkit-sticky;
    position: sticky;
    top: 0;
    text-transform: uppercase;
    border-right: 1px solid #d9e8ff;
    border-bottom: 1px solid #d9e8ff;
    box-shadow: 1px 1px 1px #ccc;
    z-index: 99;
}

.table-custom-scroll tfoot,
.table-custom-scroll tfoot th,
.table-custom-scroll tfoot td {
    background-color: #edf4ff;
    font-weight: normal;
    color: #333;
    position: -webkit-sticky;
    position: sticky;
    bottom: 0;
    z-index: 4;
}
/* Table Custom Scroll Fix Header & Footer */


.border-bottom-dotted{
    border-bottom: 1px dotted #ccc !important;
}

#modal-preview .close{
    position: absolute !important;
    right: 10px !important;
    top: 0px !important;
    color: #fff !important;
    opacity: 1 !important;
    font-size: 32px !important;
    font-weight: bold;
    text-shadow: 1px 1px 3px #000 !important;
}

input.input-table,
select.input-table{
    padding: 1px 10px !important;
    line-height: 10px !important;
    height: 10px !important;
    min-height: 24px !important;
}
.select2-container--default .select2-selection--single .select2-selection__placeholder,
.select2-container--default .select2-selection--single .select2-selection__rendered{
    font-size: 12px !important;
}
.form-notes{
    font-size: 11px !important;
}
.file-list{
    font-size: 12px !important;
}
.table-striped tr td input,
.table-striped tr td textarea{
    box-shadow: 1px 1px 5px #ccc !important;
}
.ios-switch {
    height: 25px;
    width: 55px;
    cursor: pointer;
}
.ios-switch.on .handle,
.ios-switch .handle,
.ios-switch.off .handle
{
    width: 21px;
    height: 21px;
}

.tiles.dark-green {
    background-color: #0e8c82;
}
.tiles.dark-red {
    background-color: #c94544;
}
.tiles.dark-yellow {
    background-color: #b5b531;
}

.tiles.blue-border {
    border-left: 2px solid #365d98;
}
.tiles.green-border {
    border-left: 2px solid #0e8c82;
}
.tiles.red-border {
    border-left: 2px solid #c94544;
}
.tiles.yellow-border {
    border-left: 2px solid #b5b531;
}

.input-number {
    text-align: right !important;
}


.datagrid-cell, .datagrid-cell-group,
.datagrid-header-rownumber, .datagrid-cell-rownumber,
.tree-title{
    font-size: 12px;
}
.form-control{
    font-size: 12px !important;
}
.form-control.input-lg{
    font-size: 18px !important;
}


/*
Product List*/
.container-movie {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
    max-width: 100%;
    margin-top: 2vh;
    margin-left: auto;
    margin-right: auto;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: left;
}
.movie-card {
    background: #ffffff;
    box-shadow: 0px 6px 18px rgba(0, 0, 0, 0.1);
    width: 100%;
    max-width: 290px;
    margin: 10px;
    border-radius: 10px;
    display: inline-block;
}
.movie-header {
    padding: 0;
    margin: 0;
    height: 300px;
    width: 100%;
    display: block;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
    background-size: cover;
}
.header-icon-container {
    position: relative;
}
.header-icon {
    width: 100%;
    height: 367px;
    line-height: 367px;
    text-align: center;
    vertical-align: middle;
    margin: 0 auto;
    color: #ffffff;
    font-size: 54px;
    text-shadow: 0px 0px 20px #6abcea, 0px 5px 20px #6ABCEA;
    opacity: .85;
}
.header-icon:hover {
    background: rgba(0, 0, 0, 0.15);
    font-size: 74px;
    text-shadow: 0px 0px 20px #6abcea, 0px 5px 30px #6ABCEA;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
    opacity: 1;
}
.movie-card:hover {
    -webkit-transform: scale(1.03);
    transform: scale(1.03);
    box-shadow: 0px 10px 25px rgba(0, 0, 0, 0.08);
}
.movie-content {
    padding: 18px 18px 24px 18px;
    margin: 0;
}
.movie-content-header, .movie-info {
    display: table;
    width: 100%;
}
.movie-title {
    font-size: 18px;
    margin: 0;
    display: table-cell;
}
.imax-logo {
    width: 50px;
    height: 15px;
    background: url("https://6a25bbd04bd33b8a843e-9626a8b6c7858057941524bfdad5f5b0.ssl.cf5.rackcdn.com/media_kit/3e27ede823afbf139c57f1c78a03c870.jpg") no-repeat;
    background-size: contain;
    display: table-cell;
    float: right;
    position: relative;
    margin-top: 5px;
}
.movie-info {
    margin-top: 1em;
}
.info-section {
    display: table-cell;
    /*text-transform: uppercase;*/
    text-align: center;
}
.info-section:first-of-type {
    text-align: left;
}
.info-section:last-of-type {
    text-align: right;
}
.info-section label {
    display: block;
    color: rgba(0, 0, 0, 0.5);
    margin-bottom: .5em;
    font-size: 9px;
}
.info-section span {
    font-weight: 700;
    font-size: 11px;
}
@media screen and (max-width: 500px) {
    .movie-card {
        width: 47%;
        max-width: 47%;
        margin: 5px;
        display: block;
    }
    .movie-content {
        padding: 9px 9px 12px 9px;
        margin: 0;
    }
    .container {
        padding: 0;
        margin: 0;
    }
}

#page-home .movie-header {
    height: 150px;
}

.cart-header{
    color: #fff !important;
    border-radius: 40%;
    position: absolute;
    width: 19px;
    padding: 3px;
    left: 27px;
}
.table-cart td{
    padding: 2px;
    font-size: 12px !important;
}
.w_load_body {
    position: fixed !important;
}
.tiles .tiles-title{
    font-size: .6rem !important;
}

.pagination li{
    font-size:  13px !important;
}

#datatable_length select{
    font-size: 13px !important;
}
